html{
  overflow-y: scroll;
}


body
{
    background-color: blanchedalmond;
    
}

#game
{
  visibility: hidden;
}
section.main{
  float: left;
  height: auto;
  position: relative;
}
canvas
{
  
    margin-top: 6%;
    background-color: chartreuse;
    border: 5px solid brown;
    max-width: 100%;
    width:99%;
    
    
}

#clock
{
    width: 50%;
    text-align: right;
    float:right;
    top: 100px;
    left: 20px;
    color:darkblue;
    font-size: 20px;
    position: absolute;
}

section#colorPicker
{
    width: 50%;
    float: left;
}
section#colorPicker ul{
    list-style:none;
}

section#colorPicker li {
    display: inline-block;
    width: 50px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}



header
{
    text-align: center;
    background-color:crimson;
    height: 50%;
    width: 100%;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  
  }

table
{
  display:  inline-block;
  
  
}
  
  .button:hover {
    background-color: #3F3F3F;
  }
  
  .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .right {
    color: #FF0000;
  }
  
  .down {
    color: #00FF00;
  }
  
  .left {
    color: #0000FF;
  }
  
  .up {
    color: #FFFF00;
  }
  
  .round {
    border-radius: 50%;
  }

#controls{

  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

#dpad
{
  position: relative;
  float:left;
  width: 49%;
  border: 3px red solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#joystick
{
  padding-top: 20px;
  position: relative;
  float:left;
  width: 49%;
  min-height: 200px ;
  border: 3px blue solid;
  text-align: center;
}
  
#sprint
{
  top: 40px;
  left: 20px;
  background-color: white;
  position:absolute;
  
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: 20px;
}

#score
{
  top: 0px;
  left: 20px;
  background-color: white;
  position:absolute;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: 20px;
}

div#modal
{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content
 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}